@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;700;900&display=swap');
// Fonts
$font-family: 'Noto Kufi Arabic', sans-serif;
$font-weight-reg: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
