@import "./mixins";
@import "./fonts";
// Variables
$primary-color:#b50d0d;
$secondary-color:#c33c3c;
$button-color:#00bc46;
$background-color: #f4f4f4;
$font-color: #6b6b6b;
$font-secondary-color: #a2adab;
$wrong-card-color: #f3e9e9;
$hr-color: #7e90a1;

